
/* PASTE CONTENT */

div.formatedCode {
  display: table;
  margin: 5px 0 15px;
  padding: 0;
}

div.formatedCode div.lineNumbers,
div.formatedCode div.sourceCode {
  display: table-cell;
}

div.formatedCode pre.plainText,
div.formatedCode div.lineNumbers pre,
div.formatedCode div.sourceCode pre {
  padding: 0;
  margin: 0 10px 0;
  line-height: 12pt;
  font-size: 10pt;
}
