
/* INFO / DESCRIPTION BOX */

div.postInfo {
  background-color: #999;
  border: 1px solid #666;
  width: 650px;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-size: 11px;
}

div.postInfo p {
  margin: 0;
  padding: 2px;
}

div.postInfo p a {
  color: #055;
}

div.postInfo p.desc {
  font-style: italic;
}

div.postInfo p.timestamp {
  float: right;
  width: 150px;
  text-align: right;
}
div.postInfo p.language {
  clear: right;
  float: right;
  width: 150px;
  text-align: right;
}

/* PASTE CONTENT */

div.formatedCode {
  display: table;
  margin: 5px 0 15px 0;
  padding: 0;
}

div.formatedCode div.lineNumbers,
div.formatedCode div.sourceCode {
  display: table-cell;
  margin: 0;
  padding: 0;
}

div.formatedCode div.lineNumbers pre,
div.formatedCode div.sourceCode pre {
  padding: 0;
  margin: 0;
  line-height: 12pt;
  font-size: 10pt;
  overflow-x: auto;
}
