body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #666;
  font-size: 12pt;
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,p#logo {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #088;
  text-decoration: none;
}

  a:hover {
    text-decoration: underline;
  }

li {
  font-size: 9pt;
}

input.inputDesc {     /* JS class */
  color: #999;
}

section, menu, header, div {
  margin: 0;
  padding: 0;
}

pre
{
  line-height: 12pt;
  font-size: 10pt;
}


/**  HEADER  ******************************************************************/

header {
  background-color: #666;
  /* position: fixed;
  top: 0;
  left: 0;
  z-index: 5;
  width: 100%; */
  padding: 10px 0 10px;
  font-size: 16px;
  border-bottom: 1px solid #444;
  box-shadow: 0 3px 10px #444;
}

  header a {
    color: #00b9b9;
  }


/**  MAIN SECTION  ************************************************************/

section#main {
  margin: 20px;
  overflow-x: auto;
}

  section#main .error {
    font-weight: bold;
    color: #c20;
  }

  section#main .warning {
    color: #c20;
  }

  section#main .success {
    font-weight: bold;
    font-style: italic;
  }

  section#main .info {
    font-weight: bold;
    font-style: italic;
  }
