header
{
  margin: 100px auto 40px;
  width: 500px;
  font-size: 20pt;
}

header p#left a#n3
{
  text-decoration: none;
  position: relative;
  left: 6px;
}

header p#left a#n3 sup
{
  font-size: 12pt;
  position: relative;
  top: -4px;
  right: 3px;
}

header p#left
{
  padding: 0;
  margin: 0;
  display: inline-block;
  font-weight: bold;
  text-align: right;
  width: 210px;
}

header p#center
{
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: center;
  color: #999;
  font-size: 22pt;

  width: 68px; /* hmm... to align stuff correctly */
}

header p#right
{
  padding: 0;
  margin: 0;
  display: inline-block;
  text-align: left;
  color: #999;

  width: 210px;
}

header p#info
{
  width: 500px;
  text-align: center;
  font-size: 12pt;
}
