

/*******************************************************************************
 * Paste form                                                                 */

section#main div#settings
{
  background-color: #888;
  padding: 1px;
  margin: 0;
  width: 650px;
}

section#main input#desc,
section#main select#lang
{
  margin: 0;
  padding: 0;
  font-size: 11px;
  height: 20px;
  border: 0;
}

section#main input#desc
{
  width: 500px;
}

section#main input#desc.new-desc
{
  color: #999;
}

section#main select#lang
{
  width: 100px;
  height: 20px;
  text-align: right;
}

section#main input#submit
{
  height: 20px;
  width: 40px;
  background-color: none;
  color: #088;
  font-family: 'Ubuntu', sans-serif;
  border: 0;
  margin: 0;
}

section#main textarea
{
  display: block;
  margin: 5px 0 0;
  width: 654px;
  height: 400px;
}
