body {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #666;
  font-size: 12pt;
  font-family: sans-serif;
}

h1,h2,h3,h4,h5,h6,header,menu {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #088;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

li {
  font-size: 9pt;
}

input.inputDesc {
  color: #999;
}

section, menu, header, div {
  margin: 0;
  padding: 0;
}

pre {
  line-height: 12pt;
  font-size: 10pt;
}

form input[type=submit],
form input[type=reset] {
  background-color: #777;
  color: white;
  border: 1px solid #666;
  font-family: 'Ubuntu', sans-serif;
  padding: 10px;
  margin: 5px 0 5px;
  border-radius: 3px;
  display: block;
  box-shadow: 3px 3px 10px #666;
  cursor: pointer;
}

form input[type=submit]:hover {
  text-decoration: underline;
}

/* {{{ Menu */

menu
{
    float: left;
    margin: 107px 20px auto;
    padding: 40px 0 40px;
    list-style-type: none;
    position: fixed;
    top: 100px;
    left: 20px;
    vertical-align: middle;
    background-color: #666;
    border-radius: 5px;
    box-shadow: 3px 3px 10px #444;
}
    menu li
    {
        padding: 5px;
        width: 170px;
        background-color: #666;
        color: #ccc;
        text-align: center;
    }

    menu li.highlight:hover,
    menu li.active
    {
        background-color: #777;
    }

    menu li p
    {
        display: inline;
    }

    menu li a {
        width: 100%;
        display: inline-block;
        color: #fff;
    }

    menu hr
    {
        margin: 0 auto 0;
        width: 60%;
        border: 0;
        height: 1px;
        background-color: #777;
    }

    menu ul.submenu
    {
        border-top: 1px dotted #aaa;
        list-style-type: none;
        margin: 4px auto 0;
        padding: 0;
        width: 60%;
    }

    menu ul.submenu li {
        margin: 4px 2px 2px;
        padding: 0;
        font-size: 10px;
        width: 100%;
        background-color: #777;
    }

    menu ul.submenu li span.info {
        color: #aaa;
    }

    menu ul.submenu li a {
        color: #ddd;
    }

/* }}} */

section#main
{
    margin: 20px 20px 0 270px;
    width: 760px;
}

    section#main .error
    {
        font-weight: bold;
        color: #c20;
    }

    section#main .warning
    {
        color: #c20;
    }

    section#main .success
    {
        color: #0a3;
    }

    section#main .info
    {
        font-weight: bold;
        font-style: italic;
    }

    /*
    section#main pre
    {
        margin: 10px 30px 10px;
        font-weight: bold;
    }
    */

    section#main p.moreless
    {
        text-align: right;
    }

/* {{{ Recent pastes -> read.css */

/*
    section#main div.recentpaste
    {
        background-color: #eee;
        margin: 10px 0 10px;
        padding: 5px;
        text-align: right;
    }

        section#main div.recentpaste p.paste-info,
        section#main div.recentpaste p.paste-info *,
        section#main div.recentpaste p.paste-date
        {
            display: inline;
        }

        section#main div.recentpaste p.paste-date
        {
        }

        section#main div.recentpaste p.paste-info
        {
            float: left;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        section#main div.recentpaste pre
        {
            clear: both;
            text-align: left;
            overflow: hidden;
        }
*/

/* }}} */

/* {{{ FAQ -> about.css */

/*
    section#main div#faq p.faq-question
    {
        font-weight: bold;
        display: inline;
    }

    section#main div#faq p.faq-answer
    {
        margin: 0.5em auto auto;
        padding: 0;
    }
*/

/* }}} */

/* {{{ Registration -> login.css */

/*
    section#main form#registration-form p span.desc
    {
        display: inline-block;
        font-weight: bold;
        width: 200px;
    }

    section#main form#registration-form p input
    {
        display: inline-block;
    }
*/

/* }}} */

/* {{{ Login -> login.css */

/*
    section#main form#login-form p span.desc
    {
        display: inline-block;
        font-weight: bold;
        width: 200px;
    }

    section#main form#login-form p input
    {
        display: inline-block;
    }
*/

/* }}} */

/* {{{ Profile -> profile.css */

/*
    section#main form#profile-form p span.desc
    {
        display: inline-block;
        font-weight: bold;
        width: 200px;
    }

    section#main form#profile-form p.radio
    {
        font-weight: bold;
    }

    section#main form#profile-form p input
    {
        display: inline-block;
    }
*/

/* }}} */
