section#notifications {
  position: absolute;
  top: 0;
  text-align: center;
  width: 100%;
}

section#notifications p {
  background-color: #999;
  border: 1px solid #666;
  box-shadow: 3px 3px 10px #666;
  border-radius: 3px;
  color: white;
  font-size: 11px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 1px 5px;
}

section#notifications p a {
  background-color: #666;
  border-radius: 4px;
  color: #ccc;
  padding: 2px 5px 2px;
  margin-left: 5px;
  margin-right: 5px;
  cursor: pointer;
  display: inline-block;
}
