header p#logo,
header p.desc {
  padding: 0;
  margin: 5px 10px 5px;
  display: inline-block;
}

header p#logo {
  font-weight: bold;
}

header p#logo a {
  color: white;
}

header p#logo a:hover {
  text-decoration: none;
}

header p#logo a span#n3 {
  color: #00b9b9;
  text-decoration: none;
  position: relative;
  left: 2px;
}

header p#logo a span#n3 sup {
  font-size: 10px;
  position: relative;
  top: -2px;
  right: 1px;
}

header p.desc {
  font-size: 14px;
  color: white;
}

header div#compactMenu {
  color: white;
  font-size: 11px;
  float: right;
  padding: 0 10px 0;
  margin: 0;
  max-width: 50%;
  text-align: right;
}

header div#compactMenu p,
header div#compactMenu form {
  display: inline-block;
}
header div#compactMenu p {
  margin-right: 15px;
}

  header div#compactMenu div.pasteInfo {
    display: block;
  }

  header div#compactMenu p#view_all_replies,
  header div#compactMenu form.addReply input[type=submit],
  header div#compactMenu p.replies {
    margin: 0 10px 0 0;
  }

    header div#compactMenu p.replies a,
    header                 p.desc a.descID,
    header                 p.desc a.descTag,
    header div#compactMenu p#view_all_replies a,
    header div#compactMenu form.addReply input[type=submit] {
      background-color: #aaa;
      padding: 2px 5px 2px;
      border: 0;
      border-radius: 4px;
      font-size: 11px;
      font-family: sans-serif;
      font-weight: normal;
      font-style: normal;
      display: inline;
      vertical-align: baseline;
      cursor: pointer;
    }

    header div#compactMenu p.replies a {
      margin-left: 5px;
      color: #444;
    }

    header p.desc a.descID,
    header p.desc a.descTag {
      margin-left: 5px;
      margin-right: 5px;
      color: #444;
      font-size: 12px;
    }

    header div#compactMenu p#view_all_replies a,
    header div#compactMenu form.addReply input[type=submit] {
      color: #444;
    }

    header div#compactMenu p#view_all_replies a:hover,
    header div#compactMenu form.addReply input[type=submit]:hover {
      text-decoration: underline;
    }

  header div#compactMenu form.languageSelector select {
    disply: inline-block;
  }

  header div#compactMenu form.languageSelector input[type=submit] {
    /* display: none; */
  }

  header p#logo { clear: right; }
