
/* INFO / DESCRIPTION BOX */

div.pasteInfo {
  background-color: #999;
  border: 1px solid #666;
  width: 650px;
  padding: 5px;
  border-radius: 3px;
  color: white;
  font-size: 11px;
}

div.pasteInfo p {
  margin: 0;
  padding: 2px;
}

div.pasteInfo p a {
  color: #055;
}

div.pasteInfo p.desc {
  font-style: italic;
}

div.pasteInfo p.timestamp {
  float: right;
  width: 150px;
  text-align: right;
}
div.pasteInfo p.language {
  clear: right;
  float: right;
  width: 150px;
  text-align: right;
}


/* PASTE CONTENT */

div.formatedCode pre.plainText,
div.formatedCode div.lineNumbers pre,
div.formatedCode div.sourceCode pre {
  padding: 0;
  margin: 0;
  line-height: 12pt;
  font-size: 10pt;
  max-width: 540px;
  overflow-x: auto;
}
