body
{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666;
    /* font-family: Georgia, times, serif; */
    font-size: 9pt;
}
a
{
    color: #088;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

ul li
{
    font-size: 9pt;
}

div
{
    margin: 0;
    padding: 0;
}

/* {{{ Paste menu */

div#topmenu
{
    background-color: #666;
    color: #fff;
    font-size: 12px;
    text-align: left;
    padding: 2px;
    margin: 0;
}

    div#topmenu div#right
    {
        float: right;
        text-align: right;
    }
    div#topmenu p#description
    {
        padding: 5px;
    }
    div#topmenu p#description,
    div#topmenu form#reply-form,
    div#topmenu div#right p#reply,
    div#topmenu div#right p#view_plain,
    div#topmenu div#right p#available_languages
    {
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
    }

    div#topmenu div#clear            { clear: both; }

    div#topmenu div#right p#reply,
    div#topmenu div#right p#view_plain
    {
        margin-right: 10px;
    }

    div#topmenu div#right p#reply :before,
    div#topmenu div#right p#view_plain :before
    {
        content: "[";
    }

    div#topmenu div#right p#reply :after,
    div#topmenu div#right p#view_plain :after
    {
        content: "]";
    }

    div#topmenu div#right p#reply a,
    div#topmenu div#right p#view_plain a
    {
        color: #ccc;
    }

/* }}} */

/* {{{ Logo */

div#logo
{
    margin: 100px auto 50px;
    width: 500px;
    font-size: 18pt;
}
 
    div#logo p#left
    {
        padding: 0;
        margin: 0;
        display: inline-block;
        font-style: italic;
        font-weight: bold;
        text-align: right;
 
        width: 200px;
    }
 
    div#logo p#center
    {
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: center;
        color: #999;
        font-size: 20pt;
 
        width: 88px; /* hmm... to align stuff correctly */
    }
 
    div#logo p#right
    {
        padding: 0;
        margin: 0;
        display: inline-block;
        text-align: left;
        color: #999;
 
        width: 200px;
    }
 
    div#logo p#info
    {
        width: 500px;
        text-align: center;
        font-size: 11pt;
    }

/* }}} */

/* {{{ Menu */

ul#menu
{
    float: left;
    margin: 0 0 auto;
    padding: 100px 0 100px;
    list-style-type: none;
    position: absolute;
    top: 100px;
    left: 20px;
    vertical-align: middle;
    background-color: #666;
}
    ul#menu li
    {
        padding: 5px;
        width: 200px;
        background-color: #666;
        color: #ccc;
        text-align: center;
    }

    ul#menu li:hover
    {
        background-color: #777;
    }

    ul#menu li p
    {
        display: inline;
    }

    ul#menu li a      { color: #fff; }


/* }}} */

div#main
{
    margin: 20px 20px 0 270px;
    width: 760px;
}

    div#main .error
    {
        font-weight: bold;
        color: #f00
    }

    div#main pre
    {
        margin: 10px 30px 10px;
        font-weight: bold;
    }

/* {{{ Pasteform */

        div#main form#paste input#description
        {
            width: 500px;
        }
        div#main form#paste p
        {
            text-align: left;
        }

        div#main form#paste input#id
        {
            width: 50px;
        }

/* }}} */

/* {{{ Recent pastes */


    div#main div.recentpaste
    {
        background-color: #eee;
        margin: 10px 0 10px;
        padding: 5px;
        text-align: right;
    }

        div#main div.recentpaste p.paste-info,
        div#main div.recentpaste p.paste-date
        {
            display: inline;
        }

        div#main div.recentpaste p.paste-date
        {
        }

        div#main div.recentpaste p.paste-info
        {
            float: left;
            text-align: left;
            margin: 0;
            padding: 0;
        }

        div#main div.recentpaste pre
        {
            clear: both;
            text-align: left;
            overflow: hidden;
        }

/* }}} */

/* {{{ FAQ */

    div#main div#faq p.faq-question
    {
        font-weight: bold;
        display: inline;
    }

    div#main div#faq p.faq-answer
    {
        margin: 0.5em auto auto;
        padding: 0;
    }

/* }}} */
