body
{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666;
    /* font-family: Georgia, times, serif; */
    font-size: 9pt;
}
a
{
    color: #088;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

ul li
{
    font-size: 9pt;
}

div
{
    margin: 0;
    padding: 0;
}

/* {{{ Main */

div#topmenu
{
    background-color: #666;
    color: #fff;
    height: 24px;
    font-size: 12px;
    margin-bottom: 10px;
    text-align: right;
}


    div#topmenu p#view_plain :before { content: "["; }
    div#topmenu p#view_plain
    {
        display: inline;
        margin: 5px 10px 0;
    }
    div#topmenu p#view_plain a { color: #ccc; }
    div#topmenu p#view_plain :after { content: "]"; }

    div#topmenu p#available_languages
    {
        display: inline;
        margin-right: 10px;
    }

    div#topmenu form
    {
        display: inline;
    }

div#main
{
    margin: 120px auto 0;
    width: 760px;
}

    div#main .error
    {
        font-weight: bold;
        color: #f00
    }

    div#main pre
    {
        margin: auto 30px 20px;
        font-weight: bold;
    }

    div#main form#paste p
    {
        text-align: left;
    }

    div#main form#paste input#id
    {
        width: 50px;
    }


/* }}} Main */
