body
{
    margin: 0;
    padding: 0;
    background: #fff;
    color: #666;
    /* font-family: Georgia, times, serif; */
    font-size: 9pt;
}

a
{
    color: #ccc;
    text-decoration: none;
}

a:hover
{
    text-decoration: underline;
}

div.topmenu
{
    background-color: #666;
    color: #fff;
    font-size: 12px;
    padding: 2px;
    margin: 0 0 10px;
    text-align: right;
}

    div.topmenu div.left
    {
        float: left;
        display: inline-block;
        margin-top: 3px;
        text-align: left;
    }

    div.topmenu div.left *
    {
        display: inline-block;
        margin: 0 25px 0 0;
        padding: 0;
    }

    div.topmenu div.left p.id
    {
        margin: 0;
    }

    div.topmenu div.left p a
    {
        margin: 0 2px 0;
    }

    div.topmenu div.right *
    {
        display: inline-block;
        margin: 0;
        padding: 0;
    }

    div.topmenu div.right select.languages option
    {
        display: block;
    }

    div.topmenu div.right p.reply,
    div.topmenu div.right p.edit_paste,
    div.topmenu div.right p.view_plain,
    div.topmenu div.right p.available_languages
    {
        margin-top: 3px;
        margin-right: 5px;
    }

    div.topmenu div.right p.available_languages
    {
        margin-left: 20px;
    }

    div.topmenu div.right p.reply :before,
    div.topmenu div.right p.edit_paste :before,
    div.topmenu div.right p.view_plain :before
    {
        content: "[";
    }

    div.topmenu div.right p.reply :after,
    div.topmenu div.right p.edit_paste :after,
    div.topmenu div.right p.view_plain :after
    {
        content: "]";
    }

    table.sourceCode,
    div.renderedText
    {
        clear: both;
        margin-bottom: 75px;
    }

    div.renderedText
    {
        margin-left: 20px;
    }

/* }}} */

/*

    div.topmenu div.right p#reply,
    div.topmenu div.right p#view_plain
    {
        margin-right: 10px;
    }

    div.topmenu div.right p#reply :before,
    div.topmenu div.right p#view_plain :before
    {
        content: "[";
    }

    div.topmenu div.right p#reply :after,
    div.topmenu div.right p#view_plain :after
    {
        content: "]";
    }

    div.topmenu div.right p#reply a,
    div.topmenu div.right p#view_plain a
    {
        color: #ccc;
    }

*/
